<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
    <div class="container">
        <div class="row">
            <app-navbar></app-navbar>
        </div>
    </div>
    <div class="container main page-header">
        <div class="col-xs-3">
            <app-search></app-search>
        </div>
        <div class="col-xs-9">
            <div class="carousel-container">
              <app-banner></app-banner>
            </div>
                <app-product></app-product>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <app-footer></app-footer>
      </div>
    </div>
</div>
